{% extends 'base.html' %}>

{% block content %}


<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Question Title</h5>
          <p class="card-text">Question content goes here...</p>
          <a href="#" class="btn btn-primary">Answer</a>
          <button class="btn btn-outline-secondary ml-2">Upvote</button>
        </div>
      </div>
      <!-- Repeat similar card for multiple questions -->
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Popular Topics</h5>
          <ul class="list-group">
            <li class="list-group-item">Topic 1</li>
            <li class="list-group-item">Topic 2</li>
            <li class="list-group-item">Topic 3</li>
            <!-- Add more topics -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
